@import '@/styles/mixins.scss';

div.commentItem {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
  background-color: $dark-gray;
  padding: 0.2rem 1rem;
  max-width: 60vw;
  border: 1px solid $primary-gray;
  align-self: center;

  small {
    color: $white;
    font-size: 0.8rem;
  }
}

.commentItem__header {
  text-align: end;
}

.commentItem__footer {
  cursor: pointer;
  &:hover {
    color: $bright-orange;
  }
}

.commentItem__subcomments {
  margin-left: 20px;
}
