@import '@/styles/mixins.scss';

.newsDetailPage {
  display: flex;
  flex-direction: column;
  padding: 0rem 10rem 5rem;
  max-width: 1200px;
  align-self: center;
  width: 100%;
  a,
  p {
    color: $white;
  }

  h1,
  h2 {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  small {
    display: contents;
    text-transform: lowercase;
    color: $primary-gray;
  }
}

.buttons {
  display: flex;
  margin-top: 4rem;
  gap: 0.5rem;
}
